@import "../../base/_mixins.scss";
@import "../../base/_variables.scss";
@import "../../base/_colors.scss";

.home {
	// overflow: hidden;
	main {
		overflow: hidden;
		
		/*&:before {
			content: "";
			position: absolute;
			top: rem(-11);
			inset-inline-end: rem(-56);
			width: rem(478);
			height: rem(481);
			background-image: url('data:image/svg+xml,<svg width="423" height="481" viewBox="0 0 423 481" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="316.943" cy="120.774" rx="117.283" ry="120.774" fill="url(%23paint0_radial_72_347)"/><ellipse cx="316.943" cy="120.774" rx="117.283" ry="120.774" fill="url(%23paint1_radial_72_347)"/><ellipse cx="316.943" cy="120.774" rx="117.283" ry="120.774" fill="url(%23paint2_radial_72_347)"/><ellipse cx="361.972" cy="343.123" rx="116.236" ry="113.443" fill="url(%23paint3_radial_72_347)"/><ellipse cx="361.972" cy="343.123" rx="116.236" ry="113.443" fill="url(%23paint4_radial_72_347)"/><ellipse cx="361.972" cy="343.123" rx="116.236" ry="113.443" fill="url(%23paint5_radial_72_347)"/><circle cx="149.047" cy="206.292" r="149.047" fill="url(%23paint6_radial_72_347)"/><circle cx="149.047" cy="206.292" r="149.047" fill="url(%23paint7_radial_72_347)"/><circle cx="149.047" cy="206.292" r="149.047" fill="url(%23paint8_radial_72_347)"/><circle cx="352.198" cy="142.764" r="85.5189" fill="url(%23paint9_radial_72_347)"/><circle cx="352.198" cy="142.764" r="85.5189" fill="url(%23paint10_radial_72_347)"/><circle cx="352.198" cy="142.764" r="85.5189" fill="url(%23paint11_radial_72_347)"/><circle cx="148.698" cy="387.453" r="32.1132" fill="url(%23paint12_radial_72_347)"/><circle cx="148.698" cy="387.453" r="32.1132" fill="url(%23paint13_radial_72_347)"/><circle cx="148.698" cy="387.453" r="32.1132" fill="url(%23paint14_radial_72_347)"/><circle cx="275.406" cy="461.104" r="19.8962" fill="url(%23paint15_radial_72_347)"/><circle cx="275.406" cy="461.104" r="19.8962" fill="url(%23paint16_radial_72_347)"/><circle cx="275.406" cy="461.104" r="19.8962" fill="url(%23paint17_radial_72_347)"/><defs><radialGradient id="paint0_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(292.021 55.8578) rotate(59.2908) scale(180.858 180.907)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint1_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(292.021 55.8578) rotate(59.2908) scale(180.858 180.907)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint2_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(292.021 55.8578) rotate(59.2908) scale(180.858 180.907)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint3_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(337.272 282.147) rotate(57.9244) scale(172.371 176.701)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint4_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(337.272 282.147) rotate(57.9244) scale(172.371 176.701)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint5_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(337.272 282.147) rotate(57.9244) scale(172.371 176.701)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint6_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(117.375 126.18) rotate(58.5479) scale(224.948 228.113)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint7_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(117.375 126.18) rotate(58.5479) scale(224.948 228.113)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint8_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(117.375 126.18) rotate(58.5479) scale(224.948 228.113)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint9_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(334.025 96.7978) rotate(58.5479) scale(129.069 130.884)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint10_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(334.025 96.7978) rotate(58.5479) scale(129.069 130.884)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint11_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(334.025 96.7978) rotate(58.5479) scale(129.069 130.884)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint12_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(141.874 370.192) rotate(58.5479) scale(48.4666 49.1484)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint13_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(141.874 370.192) rotate(58.5479) scale(48.4666 49.1484)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint14_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(141.874 370.192) rotate(58.5479) scale(48.4666 49.1484)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint15_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(271.178 450.41) rotate(58.5479) scale(30.0282 30.4507)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint16_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(271.178 450.41) rotate(58.5479) scale(30.0282 30.4507)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint17_radial_72_347" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(271.178 450.41) rotate(58.5479) scale(30.0282 30.4507)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient></defs></svg>');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			
			@include media-breakpoint-down(md) {
				content: none;
			}
		}*/
	}
	
	.hero {
		position: relative;
		padding: rem(30) 0 rem(100) 0;
		z-index: 5;
		
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: rem(40);
			
			.hero-header-subtitle {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				font-family: "Roboto", sans-serif;
				font-style: italic;
				font-weight: 300;
				font-size: rem(20);
				line-height: 1.27;
				color: $black;
				text-align: right;
			}
			
			.hero-header {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				
				.hero-header-title {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: 700;
					font-size: rem(28);
					line-height: 1.375;
					text-transform: uppercase;
					color: #313F57;
				}
			}
			
			.hero-content {
				display: flex;
				flex-direction: column;
				gap: rem(30);
				
				.hero-content-text {
					flex: 1;
					
					p {
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-weight: 300;
						font-size: rem(24);
						line-height: 1.4;
						color: $black;
						
						strong {
							font-weight: 700;
							color: #313f57;
						}
					}
				}
				
				.hero-content-link {
					.btn {
						padding: rem(11) rem(120);
						border-radius: rem(8);
					}
				}
			}
		}
		
		@include media-breakpoint-down(md) {
			position: relative;
			padding: rem(17) 0 rem(42) 0;
			z-index: 5;
			
			.container {
				gap: rem(14);
				
				.hero-header-subtitle {
					font-size: rem(14);
					line-height: 1.27;
				}
				
				.hero-header {
					.hero-header-title {
						font-size: rem(20);
						line-height: 1.35;
						text-align: center;
						color: #313F57;
					}
				}
				
				.hero-content {
					flex-direction: column;
					align-items: center;
					gap: rem(20);
					
					.hero-content-text {
						
						p {
							font-style: normal;
							font-weight: 300;
							font-size: 16px;
							line-height: 140.4%;
							text-align: center;
							color: #000000;
							
							strong {
								font-weight: 700;
								color: #313f57;
							}
						}
					}
					
					.hero-content-link {
						display: flex;
						
						.btn {
							width: fit-content;
						}
					}
				}
			}
		}
	}
	
	.services {
		background: #313F57;
		padding: rem(32);
		
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: rem(36);
			
			.services-list {
				display: flex;
				flex-wrap: wrap;
				gap: rem(30);
				
				.services-list-item {
					width: calc(100% / 3 - rem(20));
					display: flex;
					justify-content: center;
					align-items: center;
					padding: rem(35);
					background: #313f57;
					gap: rem(25);
					
					.services-list-item-image {
						display: flex;
						justify-content: center;
						align-items: center;
						border: solid 2px $white;
						border-radius: 50%;
						min-width: rem(120);
						aspect-ratio: 1;
						
						img {
							object-fit: contain;
							width: 60%;
							height: 60%;
						}
					}
					
					.services-list-item-title {
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-weight: 400;
						font-size: rem(20);
						line-height: 1.5;
						letter-spacing: -0.27px;
						color: $white;
					}
				}
			}
		}
		
		@include media-breakpoint-down(md) {
			.container {
				gap: rem(14);
				padding: 0;
				
				.services-list {
					display: flex;
					flex-wrap: wrap;
					row-gap: rem(35);
					column-gap: rem(40);
					
					.services-list-item {
						width: calc(50% - rem(20));
						flex-direction: column;
						padding: rem(0);
						border-radius: rem(10);
						gap: rem(10);
						justify-content: flex-start;
						
						.services-list-item-image {
							
							img {
							}
						}
						
						.services-list-item-title {
							font-size: rem(16);
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	.features {
		padding: rem(45) 0 0 0;
		
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: rem(20);
			
			.features-list {
				display: flex;
				flex-wrap: wrap;
				row-gap: rem(48);
				column-gap: rem(44);
				
				.features-list-item {
					display: flex;
					width: calc(50% - rem(24));
					padding: rem(17) rem(26) rem(24) rem(34);
					background: linear-gradient(108.74deg, #ffffff -13.26%, #deebff 123.21%);
					border-radius: rem(38);
					gap: rem(26);
					
					.features-list-item-image {
						flex: 0 0 rem(265);
						height: 100%;
						
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: rem(16);
						}
					}
					
					.features-list-item-content-title-mobile {
						display: none;
					}
					
					.features-list-item-content {
						display: flex;
						flex-direction: column;
						
						.features-list-item-content-title {
							font-family: "Roboto", sans-serif;
							font-style: normal;
							font-weight: 600;
							font-size: rem(16);
							line-height: 1.5;
							color: #313F57;
						}
						
						.features-list-item-content-description {
							font-family: "Roboto", sans-serif;
							font-style: normal;
							font-weight: 300;
							font-size: rem(16);
							line-height: 1.5;
							color: $black;
						}
						
						.features-list-item-content-description-mobile {
							display: none;
						}
					}
					
					.features-list-item-content-mobile {
						display: none;
					}
					
					&:nth-child(3n),
					&:nth-child(4n) {
						flex-direction: row-reverse;
					}
				}
			}
		}
		
		@include media-breakpoint-down(md) {
			padding: rem(20) 0 0 0;
			
			.container {
				gap: rem(14);
				
				.features-list {
					gap: rem(20);
					
					.features-list-item {
						display: flex;
						flex-direction: column !important;
						justify-content: center;
						align-items: center;
						border-radius: rem(16);
						width: 100%;
						height: rem(341);
						padding: rem(20);
						background: linear-gradient(108.74deg, #ffffff -13.26%, #deebff 123.21%);
						position: relative;
						
						&:nth-child(even) {
							background: linear-gradient(288.74deg, #ffffff -33.26%, #deebff 123.21%);
						}
						
						.features-list-item-image {
							position: absolute;
							width: 90%;
							height: 90%;
							top: 50%;
							transform: translateY(-50%);
							right: rem(20);
							/*background: rgba(107, 143, 247, 0.7);
							mix-blend-mode: overlay;*/
							
							img {
								opacity: 0.4;
							}
						}
						
						.features-list-item-content {
							position: relative;
							width: 90%;
							height: 90%;
							background-color: $white;
							border-radius: rem(12);
							padding: rem(14);
							
							.features-list-item-content-description {
								font-size: rem(14);
								line-height: 1.8;
							}
						}
					}
				}
			}
		}
	}
	
	.stories {
		position: relative;
		padding: rem(60) 0;
		background: transparent;
		
		&:before {
			content: "";
			position: absolute;
			left: 1%;
			top: rem(38);
			width: 25%;
			height: 81%;
			background-image: url('data:image/svg+xml,<svg width="375" height="270" viewBox="0 0 375 270" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="67.336" cy="69.34" rx="67.336" ry="69.34" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 294.293 152.107)" fill="url(%23paint0_radial_222_1235)"/><ellipse cx="67.336" cy="69.34" rx="67.336" ry="69.34" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 294.293 152.107)" fill="url(%23paint1_radial_222_1235)"/><ellipse cx="67.336" cy="69.34" rx="67.336" ry="69.34" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 294.293 152.107)" fill="url(%23paint2_radial_222_1235)"/><ellipse cx="66.7348" cy="65.1315" rx="66.7348" ry="65.1315" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 143.5 134.288)" fill="url(%23paint3_radial_222_1235)"/><ellipse cx="66.7348" cy="65.1315" rx="66.7348" ry="65.1315" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 143.5 134.288)" fill="url(%23paint4_radial_222_1235)"/><ellipse cx="66.7348" cy="65.1315" rx="66.7348" ry="65.1315" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 143.5 134.288)" fill="url(%23paint5_radial_222_1235)"/><circle cx="85.5728" cy="85.5728" r="85.5728" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 240.109 268.647)" fill="url(%23paint6_radial_222_1235)"/><circle cx="85.5728" cy="85.5728" r="85.5728" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 240.109 268.647)" fill="url(%23paint7_radial_222_1235)"/><circle cx="85.5728" cy="85.5728" r="85.5728" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 240.109 268.647)" fill="url(%23paint8_radial_222_1235)"/><circle cx="49.0991" cy="49.0991" r="49.0991" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 374.198 100.47)" fill="url(%23paint9_radial_222_1235)"/><circle cx="49.0991" cy="49.0991" r="49.0991" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 374.198 100.47)" fill="url(%23paint10_radial_222_1235)"/><circle cx="49.0991" cy="49.0991" r="49.0991" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 374.198 100.47)" fill="url(%23paint11_radial_222_1235)"/><circle cx="18.4372" cy="18.4372" r="18.4372" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 62.1496 175.238)" fill="url(%23paint12_radial_222_1235)"/><circle cx="18.4372" cy="18.4372" r="18.4372" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 62.1496 175.238)" fill="url(%23paint13_radial_222_1235)"/><circle cx="18.4372" cy="18.4372" r="18.4372" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 62.1496 175.238)" fill="url(%23paint14_radial_222_1235)"/><circle cx="29.9225" cy="29.9225" r="29.9225" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 324.845 203.04)" fill="url(%23paint15_radial_222_1235)"/><circle cx="29.9225" cy="29.9225" r="29.9225" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 324.845 203.04)" fill="url(%23paint16_radial_222_1235)"/><circle cx="29.9225" cy="29.9225" r="29.9225" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 324.845 203.04)" fill="url(%23paint17_radial_222_1235)"/><circle cx="11.4231" cy="11.4231" r="11.4231" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 24.0711 139.341)" fill="url(%23paint18_radial_222_1235)"/><circle cx="11.4231" cy="11.4231" r="11.4231" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 24.0711 139.341)" fill="url(%23paint19_radial_222_1235)"/><circle cx="11.4231" cy="11.4231" r="11.4231" transform="matrix(0.00277017 -0.999996 -0.999996 -0.00277017 24.0711 139.341)" fill="url(%23paint20_radial_222_1235)"/><defs><radialGradient id="paint0_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(53.0271 32.0698) rotate(59.2908) scale(103.836 103.865)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint1_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(53.0271 32.0698) rotate(59.2908) scale(103.836 103.865)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint2_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(53.0271 32.0698) rotate(59.2908) scale(103.836 103.865)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint3_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(52.5536 30.1233) rotate(57.9244) scale(98.9639 101.45)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint4_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(52.5536 30.1233) rotate(57.9244) scale(98.9639 101.45)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint5_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(52.5536 30.1233) rotate(57.9244) scale(98.9639 101.45)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint6_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(67.3886 39.5774) rotate(58.5479) scale(129.15 130.967)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint7_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(67.3886 39.5774) rotate(58.5479) scale(129.15 130.967)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint8_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(67.3886 39.5774) rotate(58.5479) scale(129.15 130.967)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint9_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(38.6656 22.7084) rotate(58.5479) scale(74.1025 75.145)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint10_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(38.6656 22.7084) rotate(58.5479) scale(74.1025 75.145)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint11_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(38.6656 22.7084) rotate(58.5479) scale(74.1025 75.145)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint12_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.5193 8.52722) rotate(58.5479) scale(27.8262 28.2177)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint13_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.5193 8.52722) rotate(58.5479) scale(27.8262 28.2177)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint14_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.5193 8.52722) rotate(58.5479) scale(27.8262 28.2177)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint15_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(23.564 13.8392) rotate(58.5479) scale(45.1603 45.7956)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint16_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(23.564 13.8392) rotate(58.5479) scale(45.1603 45.7956)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint17_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(23.564 13.8392) rotate(58.5479) scale(45.1603 45.7956)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint18_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.99567 5.28317) rotate(58.5479) scale(17.2402 17.4827)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint19_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.99567 5.28317) rotate(58.5479) scale(17.2402 17.4827)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint20_radial_222_1235" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.99567 5.28317) rotate(58.5479) scale(17.2402 17.4827)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient></defs></svg>');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		
		.container {
			position: relative;
			z-index: 50;
			
			.stories-list {
				display: flex;
				flex-wrap: wrap;
				gap: rem(45);
				
				.stories-list-item {
					display: flex;
					flex-direction: column;
					gap: rem(11);
					width: 100%;
					
					.stories-list-item-title {
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-weight: 600;
						font-size: rem(24);
						line-height: 1.16;
						color: #6188D7;
					}
					
					.stories-list-item-description {
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-weight: 400;
						font-size: rem(16);
						line-height: 1.1875;
						color: $black;
					}
				}
			}
		}
		
		@include media-breakpoint-down(md) {
			overflow: hidden;
			padding: 0 0 rem(20) 0;
			
			&:before {
				content: "";
				position: absolute;
				top: unset;
				bottom: rem(-45);
				left: rem(40);
				width: 100%;
				height: 100%;
				background-image: url('data:image/svg+xml,<svg width="388" height="396" viewBox="0 0 388 396" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="61.041" cy="62.8577" rx="61.041" ry="62.8577" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 276.953 267.162)" fill="url(%23paint0_radial_548_565)"/><ellipse cx="61.041" cy="62.8577" rx="61.041" ry="62.8577" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 276.953 267.162)" fill="url(%23paint1_radial_548_565)"/><ellipse cx="61.041" cy="62.8577" rx="61.041" ry="62.8577" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 276.953 267.162)" fill="url(%23paint2_radial_548_565)"/><ellipse cx="60.496" cy="59.0426" rx="60.496" ry="59.0426" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 175.837 173.77)" fill="url(%23paint3_radial_548_565)"/><ellipse cx="60.496" cy="59.0426" rx="60.496" ry="59.0426" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 175.837 173.77)" fill="url(%23paint4_radial_548_565)"/><ellipse cx="60.496" cy="59.0426" rx="60.496" ry="59.0426" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 175.837 173.77)" fill="url(%23paint5_radial_548_565)"/><circle cx="77.5729" cy="77.5729" r="77.5729" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 175.132 323.783)" fill="url(%23paint6_radial_548_565)"/><circle cx="77.5729" cy="77.5729" r="77.5729" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 175.132 323.783)" fill="url(%23paint7_radial_548_565)"/><circle cx="77.5729" cy="77.5729" r="77.5729" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 175.132 323.783)" fill="url(%23paint8_radial_548_565)"/><circle cx="44.5091" cy="44.5091" r="44.5091" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 363.07 271.849)" fill="url(%23paint9_radial_548_565)"/><circle cx="44.5091" cy="44.5091" r="44.5091" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 363.07 271.849)" fill="url(%23paint10_radial_548_565)"/><circle cx="44.5091" cy="44.5091" r="44.5091" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 363.07 271.849)" fill="url(%23paint11_radial_548_565)"/><circle cx="16.7139" cy="16.7139" r="16.7139" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 94.3533 160.474)" fill="url(%23paint12_radial_548_565)"/><circle cx="16.7139" cy="16.7139" r="16.7139" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 94.3533 160.474)" fill="url(%23paint13_radial_548_565)"/><circle cx="16.7139" cy="16.7139" r="16.7139" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 94.3533 160.474)" fill="url(%23paint14_radial_548_565)"/><circle cx="27.1257" cy="27.1257" r="27.1257" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 272.233 320.796)" fill="url(%23paint15_radial_548_565)"/><circle cx="27.1257" cy="27.1257" r="27.1257" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 272.233 320.796)" fill="url(%23paint16_radial_548_565)"/><circle cx="27.1257" cy="27.1257" r="27.1257" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 272.233 320.796)" fill="url(%23paint17_radial_548_565)"/><circle cx="10.3554" cy="10.3554" r="10.3554" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 85.5436 113.86)" fill="url(%23paint18_radial_548_565)"/><circle cx="10.3554" cy="10.3554" r="10.3554" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 85.5436 113.86)" fill="url(%23paint19_radial_548_565)"/><circle cx="10.3554" cy="10.3554" r="10.3554" transform="matrix(0.589837 -0.807522 -0.807522 -0.589837 85.5436 113.86)" fill="url(%23paint20_radial_548_565)"/><defs><radialGradient id="paint0_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.0698 29.0717) rotate(59.2908) scale(94.1289 94.1547)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint1_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.0698 29.0717) rotate(59.2908) scale(94.1289 94.1547)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint2_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.0698 29.0717) rotate(59.2908) scale(94.1289 94.1547)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint3_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(47.6406 27.3072) rotate(57.9244) scale(89.7121 91.9657)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint4_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(47.6406 27.3072) rotate(57.9244) scale(89.7121 91.9657)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint5_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(47.6406 27.3072) rotate(57.9244) scale(89.7121 91.9657)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint6_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(61.0887 35.8775) rotate(58.5479) scale(117.076 118.723)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint7_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(61.0887 35.8775) rotate(58.5479) scale(117.076 118.723)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint8_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(61.0887 35.8775) rotate(58.5479) scale(117.076 118.723)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint9_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35.0509 20.5854) rotate(58.5479) scale(67.175 68.1199)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint10_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35.0509 20.5854) rotate(58.5479) scale(67.175 68.1199)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint11_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35.0509 20.5854) rotate(58.5479) scale(67.175 68.1199)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint12_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(13.1622 7.73019) rotate(58.5479) scale(25.2254 25.5802)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint13_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(13.1622 7.73019) rotate(58.5479) scale(25.2254 25.5802)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint14_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(13.1622 7.73019) rotate(58.5479) scale(25.2254 25.5802)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint15_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.3615 12.5456) rotate(58.5479) scale(40.9392 41.5151)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint16_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.3615 12.5456) rotate(58.5479) scale(40.9392 41.5151)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint17_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.3615 12.5456) rotate(58.5479) scale(40.9392 41.5151)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint18_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.15485 4.78935) rotate(58.5479) scale(15.6288 15.8486)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint19_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.15485 4.78935) rotate(58.5479) scale(15.6288 15.8486)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient><radialGradient id="paint20_radial_548_565" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.15485 4.78935) rotate(58.5479) scale(15.6288 15.8486)"><stop stop-color="white"/><stop offset="0.703787" stop-color="%23D7E2F3"/><stop offset="0.862156" stop-color="%23C5D5ED"/><stop offset="1" stop-color="%23DEEBFF"/></radialGradient></defs></svg>');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			
			.container {
				position: relative;
				z-index: 5;
				
				.stories-list {
					flex-direction: column;
					gap: rem(26);
					flex-wrap: nowrap;
					
					.stories-list-item {
						gap: rem(8);
						width: 100%;
						
						.stories-list-item-title {
							font-family: "Roboto", sans-serif;
							font-style: normal;
							font-weight: 600;
							font-size: rem(18);
							line-height: 1.16;
							color: #313f57;
						}
					}
				}
			}
		}
	}
	
	.partners {
		display: flex;
		flex-direction: column;
		gap: rem(35);
		padding: rem(35) 0;
		margin: 0;
		background: #6B8FF74D;
		
		.partners-header {
			
			.partners-title {
				font-family: "Roboto", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: rem(26);
				line-height: 1.19;
				color: #4d5593;
			}
		}
		
		.partners-content {
			position: relative;
			margin: 0;
			
			/*&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #A6AAC9;
				mix-blend-mode: hard-light;
				z-index: 1;
			}*/
			
			.partners-list {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		
		@include media-breakpoint-down(md) {
			padding: rem(22) 0 rem(46) 0;
			gap: rem(26);
			
			.partners-header {
				padding: 0;
				
				.partners-title {
					font-size: rem(24);
					text-align: center;
					font-style: normal;
					font-weight: 500;
					line-height: 1.16;
					color: #4D5593;
				}
			}
			
			.partners-content {
				padding: 0;
				
				.partners-list {
					flex-wrap: wrap;
					row-gap: rem(20);
					column-gap: rem(30);
					justify-content: center;
					
					.partners-list-item {
						max-width: 49%;
					}
				}
			}
		}
	}
}

.industries {
	padding-top: clamp(rem(10), vw(80), rem(40));
	padding-bottom: clamp(rem(10), vw(80), rem(40));
	
	&__header-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: clamp(rem(4), vw(80), rem(20));
		
		h2 {
			@extend .section-title;
		}
	}
	
	&__main-grid {
		display: flex;
		justify-content: space-between;
		padding-block: clamp(rem(20), vw(24), rem(24));
	}
	
	&__main-item {
		display: flex;
		align-items: center;
		gap: rem(16);
	}
	
	&__item-text {
		p {
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: rem(26);
			line-height: 0.95;
			color: #313F57;
			white-space: nowrap;
		}
	}
	
	@include media-breakpoint-down(md) {
		&__header-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: clamp(rem(4), vw(80), rem(20));
			
			h2 {
				text-align: center;
			}
		}
		
		&__main-grid {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: rem(10);
			padding-block: clamp(rem(20), vw(24), rem(24));
		}
		
		&__main-item {
			display: flex;
			align-items: center;
			gap: rem(16);
		}
		
		&__item-text {
			p {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: rem(20);
				line-height: 1.8;
				color: #313F57;
				white-space: nowrap;
			}
		}
	}
}
