@import "../base/_mixins.scss";
@import "../base/_variables.scss";
@import "../base/_colors.scss";

.footer {
	padding: rem(60) 0;
	background: #313F57;
	
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		
		p {
			font-family: 'Inter', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: rem(14);
			line-height: 1.2;
			color: $white;
		}
	}
	
	@include media-breakpoint-down(md) {
		padding: rem(40) 0;
	}
}