@import "../base/_mixins.scss";
@import "../base/_variables.scss";
@import "../base/_colors.scss";

.footer {
	padding: rem(60) 0;
	background: #313F57;
	
	.container {
		display: flex;
		justify-content: center;
		row-gap: rem(30);
		flex-wrap: wrap;
	}
	
	p {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: rem(14);
		line-height: 1.2;
		color: #A6AAC9;
	}
	
	&__block {
		display: flex;
		flex-direction: column;
		width: 50%;
		
		&-copyright {
			display: flex;
			justify-content: flex-end;
			
			p {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: rem(14);
				line-height: 1.14;
				color: #A6AAC9;
			}
		}
	}
	
	&__menu {
		display: flex;
		flex-direction: column;
		gap: rem(16);
		
		.menu-title {
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: rem(14);
			line-height: 1.14;
			color: #A6AAC9;
		}
		
		ul {
			display: flex;
			gap: rem(16);
			
			li {
				a {
					font-family: 'Roboto', sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 1.79;
					color: #FFFFFF;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	
	@include media-breakpoint-down(md) {
		padding: rem(20) 0 rem(40) 0;
		
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			row-gap: rem(20);
			flex-wrap: wrap;
			flex-direction: column;
			
			p {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: rem(14);
				line-height: 1.2;
				color: #A6AAC9;
			}
		}
		
		&__block {
			display: flex;
			flex-direction: column;
			width: 100%;
			
			&-copyright {
				padding-top: rem(20);
				display: flex;
				justify-content: center;
				align-items: center;
				
				p {
					font-family: 'Roboto', sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: rem(14);
					color: #A6AAC9;
				}
			}
		}
		
		&__menu {
			display: flex;
			flex-direction: column;
			gap: rem(10);
			
			.menu-title {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				color: #A6AAC9;
			}
			
			ul {
				display: flex;
				gap: rem(16);
				
				li {
					a {
						font-family: 'Roboto', sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 1.79;
						color: #FFFFFF;
						
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}