.btn {
	width: rem(200);
	padding: rem(11) 0;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: rem(16);
	line-height: 1.17;
	text-align: center;
	color: $white;
	cursor: pointer;
	background: #6287D7;
	border-radius: rem(8);
	border: none;
	
	@include media-breakpoint-down(md) {
		font-size: rem(14);
	}
}

